# AnhCao 2025

name: Renovate job

on:
  schedule:
    - cron: '0 3 * * 0'  # Every Sunday at 03:00 UTC
  workflow_dispatch: # Allows manual triggering of the workflow

jobs:
  renovate:
    name: Run Renovate
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v5

      - name: Run Renovate
        uses: renovatebot/github-action@v43.0.20
        env:
          RENOVATE_TOKEN: ${{ secrets.RENOVATE_TOKEN }}
          RENOVATE_CONFIG_FILE: .github/renovate.json
          RENOVATE_REPOSITORIES: ${{ github.repository }}